body {
    background-color:rgb(253, 252, 252);
}
.common_div {
    background-color: rgb(3, 24, 252);
    border: 2px solid;
    position: absolute;
    overflow: auto; 
    padding: 2px;
}

.header_div {
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 35px;
}

/* 100px + 5px + 5PX + 2PX + 2PX */
.left_div {
    top: 114px;
    left: 5px;
    width: 100px;
    bottom: 114px;
}

.right_div {
    top: 114px;
    right: 5px;
    width: 100px;
    bottom: 114px;
}

.main_div {
    top: 114px;
    left: 114px;
    right: 114px;
    bottom: 114px;
}

.footer {
    bottom: 5px;
    height: 100px;
    left: 5px;
    right: 5px;
}